
html {
    height: 100%;
    box-sizing: border-box;

}

body {
    position: relative;
    min-height: 100%;
    box-sizing: inherit;
    background-color: #e9fce5;
}

main {
    padding-bottom: 210px;
    padding-left: 10px;
    padding-right: 10px;
    

}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.foot-content {
    height: 170px;
    background-color: rgb(181, 241, 181);
}

.bgcol {
    height: 55px;
}

.logo-col {
    height: 75px;
    width: 75px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -5px;

}

.limg {
    height: 120px;
    width: 150px;
    mix-blend-mode: multiply;
}

.fa-brands {
    color: rgb(255, 255, 255);
    font-size: 1.7rem;
}

.fa-brands:hover {
    border: 2px solid white;
    color: white;
    font-size: 2.1rem;
}

.info-seeds {
    color: black;
    text-decoration: none;
    font-size: 17px;
}

.info-seeds:hover {
    text-decoration: underline;
    background-color: rgb(158, 228, 158);
}

.head-content {
    height: 100px;
    background-color: rgb(181, 241, 181);
}
.head-alink{
    width: 110px;
}
.head-alink:hover a{
    color: white;
}
.head-alink:hover {
    border-radius: 5px;
    border-bottom: 5px solid black;
    cursor:pointer;
    color: white;
}
.a2,.a3,.a4{
    color: black;
    text-decoration: none;
}
.a1{
    color: white;
    text-decoration: none;
    margin-bottom: 0;
}
h4{
    margin-left: -8px;
}
.pdiv{
    height: 330px;
    width: 270px;
}
.bg-green{
    background-color: #4caf50;
}
table{
    border: 2px solid black;
}
td{
    border: 2px solid black;
    text-align: center;

}
th{
    border: 2px solid black;
    text-align: center;
}